<h2>Edit <%= resource_name.to_s.humanize %></h2>
<%= devise_error_messages! %>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Update Password" %></div>
<% end %>

<!-- re-write this -->
<h3>Add Pinboard.in account</h3>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <% if current_user.pinboard_token %>
    <div>You're connected as <b><%= current_user.pinboard_token.split(':')[0] %></b> <%= link_to "Unlink", pinboard_unlink_path %></i></div>
  <% else %>
    <div>
      <%= f.label :pinboard_token %> <i>(<%= link_to "https://pinboard.in/settings/password", "https://pinboard.in/settings/password" %>)</i> <br>
      <%= f.text_field :pinboard_token %>
    </div>
    <div><%= f.submit "Add" %></div>
  <% end %>
<% end %>

<h3>Add Pocket account</h3>

<p>Coming soon!</p>
<!-- <h3>Cancel my account</h3> -->

<!-- <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p> -->

<!-- <%= link_to "Back", :back %> -->
