<h3>Almost There</h3>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :class => 'form-horizontal') do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true, :value => params[:email][:address] %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Connect Your Accounts" %></div>
<% end %>

<%= render "devise/shared/links" %>
