<% if current_user %>
  <% if current_user.pinboard_token.present? %>
    <h4>Archive</h4>
    <div class="archive">
      <% @sent_bookmarks.each do |bookmark|  %>
        <div class="archive-bookmark">
          <div style="line-height: 20px; font-size: 18px;"><%= link_to bookmark.title, bookmark.url, html_options = { title: JSON.parse(bookmark.tags).each{|tag| tag} } %></div>
          <div class="archive-bookmark-date">
            <i class="icon ion-android-mail"></i>
            <%= bookmark.sent_back_date.strftime("%b %d, %Y") %> <i class="icon ion-arrow-left-c"></i> <%= bookmark.saved_date.strftime("%b %d, %Y") %> (<%= ((bookmark.sent_back_date-bookmark.saved_date)/86400).to_i %> days)
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    Connect to Pinboard to start receiving old bookmarks >>
  <% end %>
<% else %>
<!-- <p>How many bookmarks do you have? Get an old bookmark in your inbox each week.</p>
<%= link_to '<button type="button" class="btn btn-primary btn-lg">Sign Up For Random Bookmarks</button>'.html_safe, new_user_registration_path %> -->

<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>

<div>Have an account? <%= link_to 'Login here.'.html_safe, new_user_session_path %></div>
<% end %>

